{% extends 'bgb.html' %}

{% block content %}
{% csrf_token %}
<style>
.button {
  background-color: #00004d;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
  width : 125px;
  
  border-radius: 5px
}
.button:hover {
background-color: #002060;
}
.button1 {
	font-size: 10px;
	width: 125px;
	padding: 10px 32px;
	display:inline;
	position: absolute;
	left: 1050px;
}
.button2 {
	position:relative; left:400px; top:52px;
	margin: 12px 2px;
}
.button3 {
	position:relative; left:-380px; top:2px;
	
}
.button4 {
	font-size: 10px;
	width: 125px;
	padding: 10px 32px;
	display:inline;
    position: relative;
    left: 480px;
    top: -19px;
}
</style>
<label style="color:black ; font-size:30px ">Add details of the persons who didn't pay</label>
<br><br><br><br>
{% for j in bill_nonpayers %}
	<form action = "/edit/{{ j.id }}/{{ j.temp5 }}" method = "POST">{% csrf_token %}
	{{ j.temp5 }} 
	<input type = "submit" data-inline="true" class = "button button1" value ="Edit" ></form>
	<form action = "/delete/{{ j.id }}" method = "POST">{% csrf_token %}
	<input type = "submit" data-inline="true" class = "button button4" value ="Delete">	
	</form>



<br><br>
{% endfor %}
<br>
<a href= {% url 'modalsec' %}> + ADD THE NON PAYER</a><br><br><br>


<br><br><br>
<form action = {% url 'test' %} method = "POST">{% csrf_token %}
<input type ="submit" class = "button button2"  value = "Next">
</form>

<form action = {% url 'second' %} method = "POST">{% csrf_token %}
<input type ="submit"  class = "button button3" value = "Back">
</form>





{% endblock %}